$max-width: 1240px;
$border-radius-large: 12px;
$border-radius-small: 4px;
$color-primary: #00f800;
$color-secondary: #1f1f1f;
$color-neutral-dark: #141414;
$color-neutral-light: #8b8b8b;
$header-height: 4.5rem;

