@use "../../../styles/mixins.scss";
@import "../../../styles/variables.scss";

.steps {
  &--container {
    width: 100%;
    min-height: 100vh;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: calc(4rem + $header-height) 0 6rem 0;
    gap: 3rem;
    background-image: url(../../../assets/green-drop.png);
    background-position: left bottom;
    background-repeat: no-repeat;
  }
  &--content {
    background-color: $color-secondary;
    height: fit-content;
    max-width: $max-width;
    margin: 0 auto;
    padding: 2rem 2rem 3rem 2rem;
    gap: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
      font-size: 1.25rem;
    }
  }

  &--title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    h3 {
      font-size: 3rem;
      color: #fff;
      font-weight: 700;
    }
    h4 {
      font-weight: 700;
      font-size: 1.5rem;
      color: $color-primary;
    }
  }

  &--text-container {
    p {
      text-align: center;
      margin-bottom: 1.5rem;
      &:last-child {
        margin: 0;
      }
    }
  }

  @include mixins.device-screen {
    &--container {
      min-height: fit-content;
      background-position: 50% 0;
      padding: calc(3rem + $header-height) 1rem 4rem 1rem;
      p {
        font-size: 1rem;
      }
    }
    &--title-container {
      gap: 0.75rem;
      h3 {
        font-size: 1.5rem;
      }
      h4 {
        font-size: 1rem;
      }
    }
    &--content {
      padding: 2rem 1rem;
    }
    &--items-container {
      flex-direction: column;
    }
  }
}

