@use "../../../styles/mixins.scss";
@import "../../../styles/variables.scss";

.about {
  &--container {
    position: relative;
    width: 100%;
    background-color: #fff;
    display: flex;
    align-items: center;
    background-position: 70% -60%;
    background-image: url("../../../assets/black-drop.png");
    background-repeat: no-repeat;
    padding: 6rem;
  }

  &--content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: $max-width;
    margin: 0 auto;
    position: relative;
  }

  &--text-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2.5rem;
    .title {
      p {
        line-height: 4.25rem;
        font-weight: 700;
        font-size: 4rem;
        color: #000;
        strong {
          color: $color-primary;
        }
      }
    }
    .description {
      width: 100%;
      max-width: 620px;
      p {
        font-size: 1.25rem;
        color: #000;
      }
    }
    .spotify {
      width: 100%;
      max-width: 620px;
      display: flex;
    }
  }

  &--brand-slug {
    display: flex;
    position: absolute;
    text-wrap: nowrap;
    height: fit-content;
    right: 0;
    top: calc($header-height + 1rem);
    transform: rotate(90deg) translate(50%, -4.5rem);
    background-color: $color-primary;
    span {
      color: #000;
      font-weight: 600;
      line-height: 1.25rem;
      font-size: 1.25rem;
      transform: translateY(-0.5rem);
    }
  }

  @include mixins.device-screen {
    &--container {
      height: fit-content;
      padding: 5rem 1rem;
      flex-direction: column;
      align-items: flex-start;
      gap: 3rem;
      background-position: 70% -80%;
    }
    &--text-container {
      .title {
        p {
          font-size: 3.5rem;
        }
      }
      .description {
        p {
          font-size: 1rem;
        }
      }
    }
    &--brand-slug {
      position: relative;
      top: 0;
      transform: rotate(0deg);
      span {
        font-size: 1rem;
      }
    }
  }
}

