@use "../../styles/mixins.scss";
@import "../../styles/variables.scss";

.modal {
  &:not(.opened) {
    display: none;
  }

  &--overlay {
    z-index: 99;
    position: fixed;
    width: 100%;
    height: 100vh;
    right: 0;
    top: 0;
    transform: translate(0, 0);
    @include mixins.glassmorphism;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &--container {
    position: relative;
    background-color: $color-primary;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &--close-btn {
    all: unset;
    cursor: pointer;
    position: absolute;
    right: 2rem;
    top: 1rem;
    color: #000;
    font-size: 2rem;
    font-weight: 700;
  }
  &--content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}

