@use "../../../styles/mixins.scss";
@import "../../../styles/variables.scss";

.statements {
  &--container {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    width: 100%;
    padding: 3rem 0;
    background-color: #000;
  }

  &--content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: $max-width;
    width: 100%;
    margin: 0 auto;
    gap: 2rem;
  }

  &--title {
    color: #fff;
    font-size: 3rem;
    strong {
      background-color: $color-primary;
      color: #000;
    }
  }

  .swiper-slide {
    width: fit-content;
  }

  &--carousel-controllers {
    width: 100%;
    gap: 3rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    span {
      font-size: 1rem;
    }
    padding: 2rem 1rem;
  }

  .image-swiper-button-next,
  .image-swiper-button-prev {
    all: unset;
    cursor: pointer;
  }

  &--item-container {
    display: flex;
    align-items: start;
    flex-direction: column;
    background-color: $color-secondary;
    border: 1px solid $color-neutral-light;
    border-radius: $border-radius-large;
    max-width: 600px;
    height: 100%;
    padding: 1rem;
    gap: 2rem;
  }

  &--person {
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
  }

  &--person-image {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    overflow: hidden;
    > {
      * {
        width: 100% !important;
        height: 100% !important;
      }
      object-fit: cover !important;
    }
  }

  &--person-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 1rem;
    .name {
      color: #fff;
      font-weight: 600;
    }
  }
  @include mixins.device-screen {
    &--container {
      height: fit-content;
      padding: 2rem 0;
    }
    padding: 0rem 1rem;
    &--title {
      font-size: 2rem;
    }

    &--item-container {
      width: 100%;
      margin-left: 1rem;
      width: 90vw;
      &:first-child {
        margin: 0;
      }
    }
  }
}

